.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.logo-container {
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid rgba($color: white, $alpha: 0.25);
  min-height: 56px;
  display: flex;
  align-items: center;
}

mat-toolbar, mat-toolbar-row{
    min-height: 56px;
    height: 56px;
}

.menu-items{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li{
        padding-left: 16px;
        padding-right: 16px;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.router-container{
    padding-left: 56px;
    padding-top: 16px;
}
